<div class="container mt-5">

<ng-container >
<button mat-raised-button (click)="get500Error()" class="me-3" color="warn">500 Error</button>
<button mat-raised-button (click)="get400Error()" class="me-3" color="warn">400 Error</button>
<button mat-raised-button (click)="get401Error()" class="me-3" color="warn">401 Error</button>
<button mat-raised-button (click)="get404Error()" class="me-3" color="warn">404 Error</button>
<button mat-raised-button (click)="get404ValidationError()" class="me-3" color="warn">404 Validation Error</button>

</ng-container>

</div>      
