.menu-container{
display: flex;
justify-content: space-between;
align-items: center;

}

.right-nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.right-nav-item a {
 text-decoration: none;  
 font-weight: 500; 
 font-size: 22px ;
 color: azure;

}
.right-nav-item_ul {
   margin-top:0.8rem ;
   padding-left: 0rem;


}


.right-nav-item_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.right-nav-item_ul >li {
list-style-type:none;



}

.right-nav-item_ul >li > a {

font-weight: 200;
font-size: 1rem;
padding-left: 1.5rem;

}

.right-nav-item_ul >li > a:hover {

    font-weight: 400;
    font-size: 1.2rem;
    color:peru;
    
    }

  ::ng-deep .left-nav-item > a > .material-symbols-outlined{

  font-size:1.2rem;
  font-weight: 600;

    }


    ::ng-deep .custom-met-menu{
   margin-top: 0.9rem !important ;
   margin-left: 0.6 !important ;

              
    
    
    }   

    img{
        max-height: 40px ;
        border: 2px solid white ;
        display: inline ;
        border-radius: 50% ;
    }